<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Moodify App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
        <!-- <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div  class="jumbotron-fluid" style="text-align: center;">
              <h1>Moodify</h1>
              <p class="lead">A Music Recommender System for Facial Moods</p>
              <hr >
              </div>
        </div>
        <div style="text-align: center;">
            <!-- <form> -->
                <!-- <input type="button" value=" onclick="window.location.href='{{playlist}}'"/> -->
                <button type="button" id="buttonstyle" onclick="window.open('{{playlist}}','_blank')">Play Your Moodify Playlist!</button>
            <!-- </form> -->

        </div>


    </body>
</html>


